/* screen - p10-cultivating-influence-high */

.p10-cultivating-influence-high {
  align-items: center;
  background-color: var(--white);
  border: 0.5px none;
  display: flex;
  flex-direction: column;
  height: 792px;
  padding: 26.5px 32.5px;
  width: 612px;
}

.p10-cultivating-influence-high .overlap-group2 {
  height: 58px;
  margin-right: 3.83px;
  margin-top: 17px;
  position: relative;
  width: 531px;
}

.p10-cultivating-influence-high .cultivating-influence {
  left: 0;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
  width: 531px;
}

.p10-cultivating-influence-high .individual-scores-implications {
  left: 0;
  letter-spacing: 0.24px;
  line-height: 16px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 531px;
}

.p10-cultivating-influence-high .cultivating-influence-full-width {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.46px solid;
  border-color: var(--mystic-2);
  border-radius: 2.74px;
  display: flex;
  gap: 12px;
  height: 50px;
  justify-content: flex-end;
  margin-left: 0;
  margin-top: 18px;
  min-width: 535px;
  padding: 6.3px 14.2px;
}

.p10-cultivating-influence-high .icon {
  align-items: flex-end;
  background: linear-gradient(180deg, rgb(255, 183.08, 129.62) 0%, rgb(255, 142, 58) 100%);
  border-radius: 5.47px;
  display: flex;
  height: 30px;
  min-width: 30px;
  padding: 7.8px 4.8px;
}

.p10-cultivating-influence-high .hands {
  height: 14px;
  width: 20px;
}

.p10-cultivating-influence-high .overlap-group {
  align-self: center;
  height: 35px;
  margin-top: 0.2px;
  position: relative;
  width: 463px;
}

.p10-cultivating-influence-high .low {
  height: 9px;
  left: 0;
  letter-spacing: 0;
  line-height: 8.5px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.p10-cultivating-influence-high .average {
  height: 9px;
  left: 219px;
  letter-spacing: 0;
  line-height: 8.5px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.p10-cultivating-influence-high .high {
  height: 9px;
  left: 448px;
  letter-spacing: 0;
  line-height: 8.5px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.p10-cultivating-influence-high .group-1593 {
  align-items: flex-start;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 27px;
  position: absolute;
  top: 0;
  width: 463px;
}

.p10-cultivating-influence-high .percent {
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  text-shadow: 1px 1px 0px #000000;
  width: 66px;
}

.p10-cultivating-influence-high .bar {
  align-items: flex-start;
  background-color: var(--mystic);
  border-radius: 5px;
  display: flex;
  margin-left: 0.05px;
  min-width: 461px;
}

.p10-cultivating-influence-high .rectangle-651 {
  background: linear-gradient(180deg, rgb(255, 183.08, 129.62) 0%, rgb(255, 142, 58) 100%);
  border: 0.46px none;
  border-radius: 5px;
  height: 3px;
  width: 392px;
}

.p10-cultivating-influence-high .group-1648 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-right: 0.38px;
  margin-top: 34px;
  min-height: 124px;
  width: 541px;
}

.p10-cultivating-influence-high .x-implications {
  letter-spacing: 0.36px;
  line-height: 21px;
  min-height: 23px;
  white-space: nowrap;
}

.p10-cultivating-influence-high .x-with-similar-scores-tend-to {
  letter-spacing: 0;
  line-height: 13px;
  margin-bottom: -2px;
  margin-left: 0.38px;
  margin-top: 2px;
  min-height: 12px;
  white-space: nowrap;
}

.p10-cultivating-influence-high .have-a-strong-desire {
  letter-spacing: 0;
  line-height: 13px;
  margin-left: 0;
  margin-top: 9px;
  min-height: 79px;
  width: 534px;
}

.p10-cultivating-influence-high .rectangle-654 {
  background: linear-gradient(180deg, rgb(255, 183.08, 129.62) 0%, rgb(255, 142, 58) 100%);
  border: 0.5px none;
  border-radius: 1.5px;
  height: 2px;
  margin-right: 1.0px;
  margin-top: 22px;
  width: 534px;
}

.p10-cultivating-influence-high .group-1647 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 4.0px;
  margin-top: 22px;
  min-height: 109px;
  width: 539px;
}

.p10-cultivating-influence-high .compared-to-other-le {
  letter-spacing: 0;
  line-height: 13px;
  margin-left: 0;
  min-height: 78px;
  width: 535px;
}

.p10-cultivating-influence-high .rectangle-655 {
  background: linear-gradient(180deg, rgb(255, 183.08, 129.62) 0%, rgb(255, 142, 58) 100%);
  border: 0.5px none;
  border-radius: 1.5px;
  height: 2px;
  margin-top: 22px;
  width: 534px;
}

.p10-cultivating-influence-high .group-1646 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  min-height: 112px;
  width: 541px;
}

.p10-cultivating-influence-high .want-to-help-friends {
  letter-spacing: 0;
  line-height: 13px;
  margin-left: 0;
  margin-top: 8px;
  min-height: 66px;
  width: 535px;
}

.p10-cultivating-influence-high .overlap-group1 {
  height: 102px;
  margin-left: 0.5px;
  margin-top: 24px;
  position: relative;
  width: 535px;
}

.p10-cultivating-influence-high .footer {
  align-items: flex-start;
  border: 0.5px none;
  display: flex;
  height: 28px;
  left: 0;
  min-width: 535px;
  position: absolute;
  top: 74px;
}

.p10-cultivating-influence-high .footer-1 {
  align-items: center;
  background-color: var(--mystic);
  border: 0.5px none;
  display: flex;
  height: 28px;
  min-width: 535px;
  padding: 3.6px 10.5px;
}

.p10-cultivating-influence-high .ba-logo_-red {
  align-self: flex-end;
  background-image: url(../img/balogo-red-1-39@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 0.2px none;
  height: 20px;
  width: 72px;
}

.p10-cultivating-influence-high .line-1 {
  height: 17px;
  margin-left: 13px;
  margin-top: 1.0px;
  width: 1px;
}

.p10-cultivating-influence-high .bandelli-relational-intelligence-test {
  letter-spacing: 0.15px;
  line-height: 10px;
  margin-left: 10px;
  margin-top: 2.0px;
  min-width: 139px;
  white-space: nowrap;
}

.p10-cultivating-influence-high .x {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 258px;
  margin-top: 3.5px;
  min-height: 12px;
  text-align: right;
  white-space: nowrap;
  width: 16px;
}

.p10-cultivating-influence-high .cultivating-influence-silhouette-2 {
  height: 75px;
  left: 414px;
  position: absolute;
  top: 0;
  width: 122px;
}
