/* screen - p12-relational-derailer-dimension-scores-no-risk */

.p12-relational-derailer-dimension-scores-no-risk {
  align-items: center;
  background-color: var(--white);
  border: 0.5px none;
  display: flex;
  flex-direction: column;
  height: 792px;
  padding: 26.5px 35.5px;
  width: 612px;
}

.p12-relational-derailer-dimension-scores-no-risk .relational-derailer-dimension-scores {
  letter-spacing: 0;
  line-height: 42px;
  margin-left: 0.67px;
  margin-top: 12px;
  min-height: 45px;
  white-space: nowrap;
  width: 536px;
}

.p12-relational-derailer-dimension-scores-no-risk .bar-4 {
  background: linear-gradient(180deg, rgb(231, 125, 125) 0%, rgb(219, 7, 7) 100%);
  border: 0.5px none;
  border-radius: 2.5px;
  height: 2px;
  margin-top: 1px;
  width: 534px;
}

.p12-relational-derailer-dimension-scores-no-risk .lacking-self-awareness-no-risk {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-right: 0.5px;
  margin-top: 24px;
  min-height: 103px;
  width: 537px;
}

.p12-relational-derailer-dimension-scores-no-risk .flex-row {
  align-items: center;
  display: flex;
  gap: 140px;
  height: 27px;
  min-width: 535px;
}

.p12-relational-derailer-dimension-scores-no-risk .lacking-self-awarene {
  letter-spacing: 0;
  line-height: 13px;
  min-height: 27px;
  width: 260px;
}

.p12-relational-derailer-dimension-scores-no-risk .span-1 {
  letter-spacing: 0.24px;
  line-height: 16px;
}

.p12-relational-derailer-dimension-scores-no-risk .span-2 {
  line-height: 11.5px;
}

.p12-relational-derailer-dimension-scores-no-risk .bar {
  align-items: flex-end;
  border: 0.5px none;
  display: flex;
  gap: 2px;
  height: 2px;
  justify-content: flex-end;
  margin-top: 2.5px;
  min-width: 135px;
}

.p12-relational-derailer-dimension-scores-no-risk .rectangle-652 {
  background-color: var(--guardsman-red);
  border: 0.41px none;
  border-radius: 4.48px;
  height: 3px;
  margin-bottom: -0.19px;
  width: 68px;
}

.p12-relational-derailer-dimension-scores-no-risk .rectangle-651 {
  background-color: var(--mystic);
  border: 0.41px none;
  border-radius: 4.48px;
  height: 3px;
  margin-bottom: -0.19px;
  width: 40px;
}

.p12-relational-derailer-dimension-scores-no-risk .rectangle-650 {
  background-color: var(--mystic);
  border: 0.41px none;
  border-radius: 4.48px;
  height: 3px;
  margin-bottom: -0.19px;
  width: 25px;
}

.p12-relational-derailer-dimension-scores-no-risk .group-1626 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  height: 12px;
  margin-left: 0.17px;
  min-width: 539px;
}

.p12-relational-derailer-dimension-scores-no-risk .relational-implication {
  letter-spacing: 0;
  line-height: 13px;
  margin-top: -0.5px;
  min-height: 12px;
  text-align: right;
  white-space: nowrap;
  width: 138px;
}

.p12-relational-derailer-dimension-scores-no-risk .think-before-they-ac {
  letter-spacing: 0;
  line-height: 11.5px;
  margin-top: -0.5px;
  min-height: 7px;
  white-space: nowrap;
}

.p12-relational-derailer-dimension-scores-no-risk .group-16 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  height: 23px;
  margin-left: 0.08px;
  min-width: 539px;
}

.p12-relational-derailer-dimension-scores-no-risk .leadership-implication {
  letter-spacing: 0;
  line-height: 13px;
  margin-top: -0.5px;
  min-height: 20px;
  text-align: right;
  width: 138px;
}

.p12-relational-derailer-dimension-scores-no-risk .be-practical-steady {
  letter-spacing: 0;
  line-height: 11.5px;
  margin-top: -0.5px;
  min-height: 23px;
  width: 380px;
}

.p12-relational-derailer-dimension-scores-no-risk .organizational-culture-implication-1 {
  letter-spacing: 0;
  line-height: 11.5px;
  margin-top: -0.5px;
  min-height: 20px;
  text-align: right;
  width: 138px;
}

.p12-relational-derailer-dimension-scores-no-risk .understand-that-thei {
  letter-spacing: 0;
  line-height: 11.5px;
  margin-top: -0.5px;
  min-height: 23px;
  width: 380px;
}

.p12-relational-derailer-dimension-scores-no-risk .vector-51 {
  height: 1px;
  margin-right: 0.22px;
  margin-top: 10px;
  width: 535px;
}

.p12-relational-derailer-dimension-scores-no-risk .lacking-social-awareness-no-risk {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-right: 0.5px;
  margin-top: 9px;
  min-height: 94px;
  width: 538px;
}

.p12-relational-derailer-dimension-scores-no-risk .flex-row-1 {
  align-items: center;
  display: flex;
  gap: 141px;
  height: 27px;
  min-width: 536px;
}

.p12-relational-derailer-dimension-scores-no-risk .lacking-social-aware {
  letter-spacing: 0;
  line-height: 13px;
  min-height: 27px;
  width: 260px;
}

.p12-relational-derailer-dimension-scores-no-risk .bar-1 {
  align-items: flex-end;
  border: 0.5px none;
  display: flex;
  gap: 2px;
  height: 2px;
  justify-content: flex-end;
  margin-top: 3.38px;
  min-width: 135px;
}

.p12-relational-derailer-dimension-scores-no-risk .group-1628 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  height: 13px;
  margin-left: 0.17px;
  min-width: 539px;
}

.p12-relational-derailer-dimension-scores-no-risk .x-implication {
  letter-spacing: 0;
  line-height: 13px;
  margin-top: -0.5px;
  min-height: 13px;
  text-align: right;
  white-space: nowrap;
  width: 138px;
}

.p12-relational-derailer-dimension-scores-no-risk .be-socially-skilled {
  letter-spacing: 0;
  line-height: 11.5px;
  margin-top: -0.5px;
  min-height: 8px;
  white-space: nowrap;
}

.p12-relational-derailer-dimension-scores-no-risk .be-responsive-to-the {
  letter-spacing: 0;
  line-height: 11.5px;
  margin-top: -0.5px;
  min-height: 23px;
  width: 380px;
}

.p12-relational-derailer-dimension-scores-no-risk .group-16-1 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  height: 13px;
  margin-left: 0.08px;
  min-width: 539px;
}

.p12-relational-derailer-dimension-scores-no-risk .organizational-culture-implication {
  letter-spacing: 0;
  line-height: 11.5px;
  margin-top: -0.5px;
  min-height: 13px;
  text-align: right;
  white-space: nowrap;
  width: 138px;
}

.p12-relational-derailer-dimension-scores-no-risk .be-very-insightful-a {
  letter-spacing: 0;
  line-height: 11.5px;
  margin-top: -0.5px;
  min-height: 8px;
  white-space: nowrap;
}

.p12-relational-derailer-dimension-scores-no-risk .vector-50 {
  height: 1px;
  margin-left: 0.76px;
  margin-top: 10px;
  width: 535px;
}

.p12-relational-derailer-dimension-scores-no-risk .self-serving-no-risk {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-right: 0.5px;
  margin-top: 9px;
  min-height: 93px;
  width: 538px;
}

.p12-relational-derailer-dimension-scores-no-risk .self-serving-no-ris {
  letter-spacing: 0;
  line-height: 13px;
  min-height: 27px;
  width: 260px;
}

.p12-relational-derailer-dimension-scores-no-risk .bar-2 {
  align-items: flex-end;
  border: 0.5px none;
  display: flex;
  gap: 2px;
  height: 2px;
  justify-content: flex-end;
  margin-top: 3.62px;
  min-width: 135px;
}

.p12-relational-derailer-dimension-scores-no-risk .value-being-part-of {
  letter-spacing: 0;
  line-height: 11.5px;
  margin-top: -0.5px;
  min-height: 8px;
  white-space: nowrap;
}

.p12-relational-derailer-dimension-scores-no-risk .actively-provide-sup {
  letter-spacing: 0;
  line-height: 11.5px;
  margin-top: -0.5px;
  min-height: 13px;
  white-space: nowrap;
}

.p12-relational-derailer-dimension-scores-no-risk .model-collaboration {
  letter-spacing: 0;
  line-height: 11.5px;
  margin-top: -0.5px;
  min-height: 23px;
  width: 380px;
}

.p12-relational-derailer-dimension-scores-no-risk .vector-49 {
  height: 1px;
  margin-right: 0.16px;
  margin-top: 10px;
  width: 535px;
}

.p12-relational-derailer-dimension-scores-no-risk .breaking-trust-no-risk {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-right: 0.5px;
  margin-top: 9px;
  min-height: 113px;
  width: 537px;
}

.p12-relational-derailer-dimension-scores-no-risk .breaking-trust-no-r {
  letter-spacing: 0;
  line-height: 13px;
  min-height: 27px;
  width: 260px;
}

.p12-relational-derailer-dimension-scores-no-risk .bar-3 {
  align-items: flex-end;
  border: 0.5px none;
  display: flex;
  gap: 2px;
  height: 2px;
  justify-content: flex-end;
  margin-top: 3.12px;
  min-width: 135px;
}

.p12-relational-derailer-dimension-scores-no-risk .group-1628-1 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  height: 22px;
  margin-left: 0.17px;
  min-width: 539px;
}

.p12-relational-derailer-dimension-scores-no-risk .accept-responsibilit {
  letter-spacing: 0;
  line-height: 11.5px;
  margin-top: -0.5px;
  min-height: 22px;
  width: 380px;
}

.p12-relational-derailer-dimension-scores-no-risk .group-1629 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  height: 22px;
  margin-left: 0.08px;
  min-width: 539px;
}

.p12-relational-derailer-dimension-scores-no-risk .pay-attention-to-the {
  letter-spacing: 0;
  line-height: 11.5px;
  margin-top: -0.5px;
  min-height: 22px;
  width: 380px;
}

.p12-relational-derailer-dimension-scores-no-risk .consistently-deliver {
  letter-spacing: 0;
  line-height: 11.5px;
  margin-top: -0.5px;
  min-height: 23px;
  width: 380px;
}

.p12-relational-derailer-dimension-scores-no-risk .vector-52 {
  height: 1px;
  margin-right: 1.14px;
  margin-top: 10px;
  width: 535px;
}

.p12-relational-derailer-dimension-scores-no-risk .poor-management-of-emotions-no-risk {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 9px;
  min-height: 103px;
  width: 538px;
}

.p12-relational-derailer-dimension-scores-no-risk .poor-management-of-e {
  letter-spacing: 0;
  line-height: 13px;
  min-height: 27px;
  width: 260px;
}

.p12-relational-derailer-dimension-scores-no-risk .bar-5 {
  align-items: flex-end;
  border: 0.5px none;
  display: flex;
  gap: 2px;
  height: 2px;
  justify-content: flex-end;
  margin-top: 3.88px;
  min-width: 135px;
}

.p12-relational-derailer-dimension-scores-no-risk .handle-frustrations {
  letter-spacing: 0;
  line-height: 11.5px;
  margin-top: -0.5px;
  min-height: 13px;
  white-space: nowrap;
}

.p12-relational-derailer-dimension-scores-no-risk .remain-calm-in-front {
  letter-spacing: 0;
  line-height: 11.5px;
  margin-top: -0.5px;
  min-height: 22px;
  width: 380px;
}

.p12-relational-derailer-dimension-scores-no-risk .be-a-calming-influen {
  letter-spacing: 0;
  line-height: 11.5px;
  margin-top: -0.5px;
  min-height: 23px;
  width: 380px;
}

.p12-relational-derailer-dimension-scores-no-risk .footer {
  align-items: flex-start;
  border: 0.5px none;
  display: flex;
  margin-left: 0.09px;
  margin-top: 42px;
  min-width: 535px;
}

.p12-relational-derailer-dimension-scores-no-risk .footer-1 {
  align-items: center;
  background-color: var(--mystic);
  border: 0.5px none;
  display: flex;
  height: 28px;
  min-width: 535px;
  padding: 3.6px 10.5px;
}

.p12-relational-derailer-dimension-scores-no-risk .ba-logo_-red {
  align-self: flex-end;
  background-image: url(../img/balogo-red-1-39@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 0.2px none;
  height: 20px;
  width: 72px;
}

.p12-relational-derailer-dimension-scores-no-risk .line-1 {
  height: 17px;
  margin-left: 13px;
  margin-top: 1.0px;
  width: 1px;
}

.p12-relational-derailer-dimension-scores-no-risk .bandelli-relational-intelligence-test {
  letter-spacing: 0.30px;
  line-height: 20px;
  margin-left: 10px;
  margin-top: 2.0px;
  min-height: 10px;
  min-width: 136px;
  white-space: nowrap;
}

.p12-relational-derailer-dimension-scores-no-risk .x {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 261px;
  margin-top: 3.5px;
  min-height: 12px;
  text-align: right;
  white-space: nowrap;
  width: 16px;
}
