/* screen - p12-relational-derailer-dimension-scores-moderate-risk-1 */

.p12-relational-derailer-dimension-scores-moderate-risk-1 {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1584px;
  padding: 53px 74.0px;
  width: 1224px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .overlap-group {
  height: 96px;
  margin-left: 1.34px;
  margin-top: 25px;
  position: relative;
  width: 1071px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .bar-4 {
  background: linear-gradient(180deg, rgb(231, 125, 125) 0%, rgb(219, 7, 7) 100%);
  border: 1px none;
  border-radius: 5px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 92px;
  width: 1069px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .relational-derailer-dimension-scores {
  left: 0;
  letter-spacing: 0;
  line-height: 84px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 1071px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .lacking-self-awareness-moderate-risk {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  min-height: 160px;
  width: 1072px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .flex-row-1 {
  align-items: center;
  display: flex;
  gap: 281px;
  height: 52px;
  margin-top: -1px;
  min-width: 1070px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .lacking-self-awarene {
  letter-spacing: 0;
  line-height: 26px;
  min-height: 52px;
  width: 520px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .span-1 {
  letter-spacing: 0.48px;
  line-height: 32px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .span-2 {
  line-height: 23px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .bar {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  gap: 3px;
  justify-content: flex-end;
  margin-top: 7.0px;
  min-width: 270px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .rectangle-652 {
  background-color: var(--guardsman-red);
  border: 0.82px none;
  border-radius: 8.97px;
  height: 5px;
  margin-bottom: -0.38px;
  width: 135px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .rectangle-651 {
  background-color: var(--guardsman-red);
  border: 0.82px none;
  border-radius: 8.97px;
  height: 5px;
  margin-bottom: -0.38px;
  width: 80px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .rectangle-650 {
  background-color: var(--mystic);
  border: 0.82px none;
  border-radius: 8.97px;
  height: 5px;
  margin-bottom: -0.38px;
  width: 50px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .group-16 {
  align-items: flex-start;
  display: flex;
  gap: 32px;
  height: 24px;
  margin-left: 0.33px;
  margin-top: 13px;
  min-width: 1073px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .relational-implication {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  min-height: 24px;
  text-align: right;
  white-space: nowrap;
  width: 276px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .ignore-negative-feed {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  min-height: 24px;
  white-space: nowrap;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .group-16-1 {
  align-items: flex-start;
  display: flex;
  gap: 32px;
  height: 23px;
  margin-left: 0.17px;
  margin-top: 12px;
  min-width: 1073px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .leadership-implication {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  min-height: 23px;
  text-align: right;
  white-space: nowrap;
  width: 277px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .be-set-in-their-ways {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  min-height: 17px;
  white-space: nowrap;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .group-161 {
  align-items: flex-start;
  display: flex;
  gap: 32px;
  height: 24px;
  margin-left: 0.17px;
  margin-top: 12px;
  min-width: 1073px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .organizational-culture-implication-1 {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  min-height: 24px;
  text-align: right;
  white-space: nowrap;
  width: 277px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .occasionally-underes {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  min-height: 16px;
  white-space: nowrap;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .vector-47 {
  height: 1px;
  margin-top: 28px;
  width: 1070px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .lacking-social-awareness-moderate-risk {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 1.21px;
  margin-top: 28px;
  min-height: 158px;
  width: 1073px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .flex-row-2 {
  align-items: center;
  display: flex;
  gap: 281px;
  height: 53px;
  margin-top: -1px;
  min-width: 1071px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .lacking-social-aware {
  letter-spacing: 0;
  line-height: 26px;
  min-height: 53px;
  width: 520px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .bar-1 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  gap: 3px;
  justify-content: flex-end;
  margin-top: 7.0px;
  min-width: 270px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .group-1616 {
  align-items: flex-start;
  display: flex;
  gap: 32px;
  height: 22px;
  margin-left: 0.33px;
  margin-top: 13px;
  min-width: 1073px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .relational-implication-1 {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  min-height: 22px;
  text-align: right;
  white-space: nowrap;
  width: 276px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .sometimes-misread-so {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  min-height: 13px;
  white-space: nowrap;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .be-direct-with-feedb {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  min-height: 17px;
  white-space: nowrap;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .organizational-culture-implication-2 {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  text-align: right;
  white-space: nowrap;
  width: 277px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .have-difficulty-unde {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  min-height: 15px;
  white-space: nowrap;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .vector-48 {
  align-self: flex-start;
  height: 1px;
  margin-left: 1.29px;
  margin-top: 28px;
  width: 1070px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .self-serving-moderate-risk {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 1.21px;
  margin-top: 28px;
  min-height: 184px;
  width: 1073px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .flex-row {
  align-items: center;
  display: flex;
  gap: 281px;
  height: 54px;
  margin-top: -1px;
  min-width: 1071px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .self-serving-modera {
  letter-spacing: 0;
  line-height: 26px;
  min-height: 54px;
  width: 520px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .bar-2 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  gap: 3px;
  justify-content: flex-end;
  margin-top: 8.0px;
  min-width: 270px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .prioritize-their-own {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  white-space: nowrap;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .leadership-implication-1 {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  min-height: 20px;
  text-align: right;
  white-space: nowrap;
  width: 277px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .avoid-leading-projec {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  white-space: nowrap;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .group-1624 {
  align-items: flex-start;
  display: flex;
  gap: 32px;
  height: 47px;
  margin-left: 0.17px;
  margin-top: 12px;
  min-width: 1073px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .organizational-culture-implication {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  min-height: 40px;
  text-align: right;
  width: 277px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .create-a-climate-on {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  min-height: 47px;
  width: 760px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .vector-49 {
  height: 1px;
  margin-right: 1.15px;
  margin-top: 28px;
  width: 1070px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .breaking-trust-moderate-risk {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 1.43px;
  margin-top: 28px;
  min-height: 228px;
  width: 1073px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .breaking-trust-mode {
  letter-spacing: 0;
  line-height: 26px;
  min-height: 54px;
  width: 520px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .bar-3 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  gap: 3px;
  justify-content: flex-end;
  margin-top: 7.0px;
  min-width: 270px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .group-1622 {
  align-items: flex-start;
  display: flex;
  gap: 32px;
  height: 44px;
  margin-left: 0.33px;
  margin-top: 13px;
  min-width: 1073px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .have-trouble-with-co {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  min-height: 44px;
  width: 760px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .group-1623 {
  align-items: flex-start;
  display: flex;
  gap: 32px;
  height: 48px;
  margin-left: 0.17px;
  margin-top: 12px;
  min-width: 1073px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .change-focus-quickly {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  min-height: 48px;
  width: 760px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .over-commit-themselv {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  min-height: 47px;
  width: 760px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .vector-50 {
  align-self: flex-start;
  height: 1px;
  margin-left: 0.65px;
  margin-top: 28px;
  width: 1070px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .poor-management-of-e {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 0.21px;
  margin-top: 28px;
  min-height: 228px;
  width: 1072px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .flex-row-3 {
  align-items: center;
  display: flex;
  gap: 281px;
  height: 54px;
  margin-top: -1px;
  min-width: 1070px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .poor-management-of-e-1 {
  letter-spacing: 0;
  line-height: 26px;
  min-height: 54px;
  width: 520px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .bar-5 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  gap: 3px;
  justify-content: flex-end;
  margin-top: 8.0px;
  min-width: 270px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .become-tense-or-edgy {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  min-height: 44px;
  width: 760px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .sometimes-use-displa {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  min-height: 48px;
  width: 760px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .have-trouble-contrib {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  min-height: 47px;
  width: 760px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .footer {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  margin-left: 0.18px;
  margin-top: 66px;
  min-width: 1070px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .footer-1 {
  align-items: center;
  background-color: var(--mystic);
  border: 1px none;
  display: flex;
  height: 56px;
  min-width: 1070px;
  padding: 7.2px 21.0px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .ba-logo_-red {
  align-self: flex-end;
  background-image: url(../img/balogo-red-1-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 0.41px none;
  height: 41px;
  width: 143px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .line-1 {
  height: 34px;
  margin-left: 25px;
  margin-top: 2.0px;
  width: 1px;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .bandelli-relational-intelligence-test {
  letter-spacing: 0.30px;
  line-height: 20px;
  margin-left: 22px;
  margin-top: 4.0px;
  min-width: 271px;
  white-space: nowrap;
}

.p12-relational-derailer-dimension-scores-moderate-risk-1 .x {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 523px;
  margin-top: 7.0px;
  min-height: 23px;
  text-align: right;
  white-space: nowrap;
  width: 32px;
}
