/* screen - p4-dimensions-definition */

.p4-dimensions-definition {
  align-items: flex-end;
  background-color: var(--white);
  border: 0.5px none;
  display: flex;
  flex-direction: column;
  height: 792px;
  padding: 26.5px 35.5px;
  width: 612px;
}

.p4-dimensions-definition .dimensions {
  letter-spacing: 0;
  line-height: 42px;
  margin-right: 38.52px;
  margin-top: 12px;
  white-space: nowrap;
  width: 500px;
}

.p4-dimensions-definition .bar-19 {
  align-self: center;
  background: linear-gradient(180deg, rgb(231, 125, 125) 0%, rgb(219, 7, 7) 100%);
  border: 0.5px none;
  border-radius: 2.5px;
  height: 2px;
  margin-top: 4px;
  width: 534px;
}

.p4-dimensions-definition .through-his-research {
  align-self: center;
  letter-spacing: 0;
  line-height: 13px;
  margin-right: 4.5px;
  margin-top: 24px;
  min-height: 52px;
  width: 530px;
}

.p4-dimensions-definition .establishing-rapport {
  align-items: flex-start;
  display: flex;
  margin-top: 24px;
  min-width: 538px;
  padding: 0.0px 0;
}

.p4-dimensions-definition .overlap-group10 {
  height: 87px;
  position: relative;
  width: 534px;
}

.p4-dimensions-definition .the-ability-to-use-e {
  left: 0;
  letter-spacing: 0;
  line-height: 11.5px;
  position: absolute;
  top: 30px;
  width: 423px;
}

.p4-dimensions-definition .establishing-rapport-1 {
  left: 0;
  letter-spacing: 0.24px;
  line-height: 16px;
  position: absolute;
  top: 2px;
  width: 324px;
}

.p4-dimensions-definition .overlap-group {
  height: 85px;
  left: 0;
  position: absolute;
  top: 0;
  width: 534px;
}

.p4-dimensions-definition .bar-4 {
  background: linear-gradient(180deg, rgb(255, 229.4, 127.5) 0%, rgb(255, 204, 1) 100%);
  border: 0.5px none;
  height: 2px;
  left: 0;
  position: absolute;
  top: 23px;
  width: 472px;
}

.p4-dimensions-definition .establishing-rapport-2 {
  align-items: flex-start;
  border: 0.3px none;
  display: flex;
  height: 85px;
  left: 449px;
  min-width: 85px;
  position: absolute;
  top: 0;
}

.p4-dimensions-definition .establishing-rapport-3 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.79px none;
  border-radius: 42.37px;
  display: flex;
  height: 85px;
  justify-content: center;
  min-width: 85px;
}

.p4-dimensions-definition .overlap-group-3 {
  border-radius: 44.26px;
  height: 89px;
  margin-top: -1.88px;
  position: relative;
  width: 89px;
}

.p4-dimensions-definition .establishing-rapport-1-1 {
  height: 84px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 84px;
}

.p4-dimensions-definition .ellipse-1 {
  border: 3.77px solid;
  border-color: var(--supernova);
  border-radius: 44.26px;
  height: 89px;
  left: 0;
  position: absolute;
  top: 0;
  width: 89px;
}

.p4-dimensions-definition .understanding-others {
  align-items: flex-start;
  display: flex;
  height: 84px;
  margin-top: 22px;
  min-width: 538px;
}

.p4-dimensions-definition .overlap-group8 {
  height: 85px;
  margin-top: -0.5px;
  position: relative;
  width: 534px;
}

.p4-dimensions-definition .the-ability-to {
  left: 0;
  letter-spacing: 0;
  line-height: 11.5px;
  position: absolute;
  top: 28px;
  width: 425px;
}

.p4-dimensions-definition .ing {
  left: 0;
  letter-spacing: 0.24px;
  line-height: 16px;
  position: absolute;
  top: 0;
  width: 324px;
}

.p4-dimensions-definition .overlap-group-1 {
  height: 84px;
  left: 0;
  position: absolute;
  top: 0;
  width: 534px;
}

.p4-dimensions-definition .bar-1 {
  background: linear-gradient(180deg, rgb(169.4, 234.81, 87.08) 0%, rgb(127.26, 184.88, 53.92) 100%);
  border: 0.5px none;
  height: 2px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 473px;
}

.p4-dimensions-definition .understanding-others-1 {
  align-items: flex-start;
  border: 0.3px none;
  display: flex;
  height: 84px;
  left: 450px;
  min-width: 84px;
  padding: 0;
  position: absolute;
  top: 0;
}

.p4-dimensions-definition .understanding-others-2 {
  align-items: flex-start;
  background-color: var(--white);
  background-image: url(../img/understanding-others-1-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 0.78px none;
  border-radius: 42.16px;
  display: flex;
  height: 84px;
  justify-content: flex-end;
  min-width: 84px;
}

.p4-dimensions-definition .ellipse-1-1 {
  border: 3.76px solid;
  border-color: var(--sushi);
  border-radius: 44.04px;
  height: 88px;
  margin-top: -1.88px;
  width: 88px;
}

.p4-dimensions-definition .embracing-individual-differences {
  align-items: flex-start;
  display: flex;
  margin-top: 22px;
  min-width: 538px;
}

.p4-dimensions-definition .overlap-group6 {
  height: 86px;
  margin-top: 0;
  position: relative;
  width: 534px;
}

.p4-dimensions-definition .the-ability-to-be-au {
  left: 0;
  letter-spacing: 0;
  line-height: 11.5px;
  position: absolute;
  top: 29px;
  width: 425px;
}

.p4-dimensions-definition .embracing-individual-differences-1 {
  left: 0;
  letter-spacing: 0.24px;
  line-height: 16px;
  position: absolute;
  top: 1px;
  width: 324px;
}

.p4-dimensions-definition .bar-2 {
  background: linear-gradient(180deg, rgb(103, 0, 173) 0%, rgb(167, 95, 211) 100%);
  border: 0.5px none;
  height: 2px;
  left: 0;
  position: absolute;
  top: 22px;
  width: 471px;
}

.p4-dimensions-definition .establishing-differences {
  align-items: flex-start;
  border: 0.3px none;
  display: flex;
  height: 84px;
  left: 450px;
  min-width: 84px;
  position: absolute;
  top: 0;
}

.p4-dimensions-definition .establishing-differences-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.79px none;
  border-radius: 42.25px;
  display: flex;
  height: 84px;
  justify-content: center;
  min-width: 84px;
}

.p4-dimensions-definition .overlap-group-4 {
  border-radius: 44.15px;
  height: 88px;
  margin-top: -1.9px;
  position: relative;
  width: 88px;
}

.p4-dimensions-definition .embracing-individual-differences-1-1 {
  height: 60px;
  left: 17px;
  position: absolute;
  top: 14px;
  width: 54px;
}

.p4-dimensions-definition .ellipse-3 {
  border: 3.8px solid;
  border-color: var(--purple);
  border-radius: 44.15px;
  height: 88px;
  left: 0;
  position: absolute;
  top: 0;
  width: 88px;
}

.p4-dimensions-definition .developing-trust {
  align-items: flex-start;
  display: flex;
  margin-right: 0;
  margin-top: 22px;
  min-width: 539px;
}

.p4-dimensions-definition .overlap-group4 {
  height: 86px;
  margin-top: -0.5px;
  position: relative;
  width: 535px;
}

.p4-dimensions-definition .the-ability-to-be-vu {
  left: 1px;
  letter-spacing: 0;
  line-height: 11.5px;
  position: absolute;
  top: 28px;
  width: 425px;
}

.p4-dimensions-definition .overlap-group3 {
  height: 85px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 534px;
}

.p4-dimensions-definition .bar-18 {
  background: linear-gradient(180deg, rgb(179.56, 200.78, 255) 0%, rgb(45, 99, 237) 100%);
  border: 0.5px none;
  height: 2px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 471px;
}

.p4-dimensions-definition .developing-trust-1 {
  align-items: flex-start;
  border: 0.3px none;
  display: flex;
  height: 85px;
  justify-content: flex-end;
  left: 450px;
  min-width: 85px;
  position: absolute;
  top: 0;
}

.p4-dimensions-definition .developing-trust-2 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.79px none;
  border-radius: 42.26px;
  display: flex;
  height: 85px;
  justify-content: flex-end;
  min-width: 85px;
}

.p4-dimensions-definition .overlap-group-2 {
  border-radius: 44.13px;
  height: 88px;
  margin-top: -1.87px;
  position: relative;
  width: 88px;
}

.p4-dimensions-definition .developing-trust-3 {
  height: 57px;
  left: 13px;
  position: absolute;
  top: 16px;
  width: 64px;
}

.p4-dimensions-definition .ellipse-4 {
  border: 3.74px solid;
  border-color: var(--royal-blue);
  border-radius: 44.13px;
  height: 88px;
  left: 0;
  position: absolute;
  top: 0;
  width: 88px;
}

.p4-dimensions-definition .cultivating-influence {
  align-items: flex-start;
  display: flex;
  margin-right: 0.01px;
  margin-top: 23px;
  min-width: 538px;
}

.p4-dimensions-definition .overlap-group2 {
  height: 85px;
  margin-top: -0.49px;
  position: relative;
  width: 534px;
}

.p4-dimensions-definition .bar-3 {
  background: linear-gradient(180deg, rgb(255, 183.08, 129.62) 0%, rgb(255, 142, 58) 100%);
  border: 0.5px none;
  height: 2px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 474px;
}

.p4-dimensions-definition .cultivating-influence-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.79px none;
  border-radius: 42.26px;
  display: flex;
  height: 85px;
  justify-content: center;
  left: 450px;
  min-width: 85px;
  position: absolute;
  top: 0;
}

.p4-dimensions-definition .cultivating-influence-1-1 {
  height: 81px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 81px;
}

.p4-dimensions-definition .ellipse-5 {
  border: 3.75px solid;
  border-color: var(--neon-carrot);
  border-radius: 44.13px;
  height: 88px;
  left: 0;
  position: absolute;
  top: 0;
  width: 88px;
}

.p4-dimensions-definition .footer {
  align-items: flex-start;
  align-self: center;
  border: 0.5px none;
  display: flex;
  margin-left: 0.5px;
  margin-top: 35px;
  min-width: 535px;
}

.p4-dimensions-definition .footer-1 {
  align-items: center;
  background-color: var(--mystic);
  border: 0.5px none;
  display: flex;
  height: 28px;
  min-width: 535px;
  padding: 3.6px 10.5px;
}

.p4-dimensions-definition .ba-logo_-red {
  align-self: flex-end;
  background-image: url(../img/balogo-red-1-39@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 0.2px none;
  height: 20px;
  width: 72px;
}

.p4-dimensions-definition .line-1 {
  height: 17px;
  margin-left: 13px;
  margin-top: 1.0px;
  width: 1px;
}

.p4-dimensions-definition .bandelli-relational-intelligence-test {
  letter-spacing: 0.30px;
  line-height: 20px;
  margin-left: 10px;
  margin-top: 2.0px;
  min-height: 10px;
  min-width: 136px;
  white-space: nowrap;
}

.p4-dimensions-definition .x {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 261px;
  margin-top: 3.5px;
  min-height: 12px;
  text-align: right;
  white-space: nowrap;
  width: 16px;
}
