/* screen - p4-dimensions-definition-1 */

.p4-dimensions-definition-1 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1584px;
  padding: 53px 75.0px;
  width: 1224px;
}

.p4-dimensions-definition-1 .dimensions {
  letter-spacing: 0;
  line-height: 84px;
  margin-right: 73.05px;
  margin-top: 25px;
  white-space: nowrap;
  width: 999px;
}

.p4-dimensions-definition-1 .bar-19 {
  align-self: center;
  background: linear-gradient(180deg, rgb(231, 125, 125) 0%, rgb(219, 7, 7) 100%);
  border: 1px none;
  border-radius: 5px;
  height: 4px;
  margin-top: 8px;
  width: 1069px;
}

.p4-dimensions-definition-1 .through-his-research {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 2.05px;
  margin-top: 48px;
  min-height: 104px;
  width: 1061px;
}

.p4-dimensions-definition-1 .establishing-rapport {
  align-items: flex-start;
  display: flex;
  height: 174px;
  margin-top: 48px;
  min-width: 1072px;
  padding: 0.0px 0;
}

.p4-dimensions-definition-1 .overlap-group10 {
  height: 173px;
  position: relative;
  width: 1068px;
}

.p4-dimensions-definition-1 .the-ability-to-use-e {
  left: 0;
  letter-spacing: 0;
  line-height: 23px;
  position: absolute;
  top: 59px;
  width: 846px;
}

.p4-dimensions-definition-1 .establishing-rapport-1 {
  left: 0;
  letter-spacing: 0.48px;
  line-height: 32px;
  position: absolute;
  top: 3px;
  width: 647px;
}

.p4-dimensions-definition-1 .overlap-group {
  height: 169px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1068px;
}

.p4-dimensions-definition-1 .bar-4 {
  background: linear-gradient(180deg, rgb(255, 229.4, 127.5) 0%, rgb(255, 204, 1) 100%);
  border: 1px none;
  height: 4px;
  left: 0;
  position: absolute;
  top: 46px;
  width: 944px;
}

.p4-dimensions-definition-1 .establishing-rapport-2 {
  align-items: flex-start;
  border: 0.61px none;
  display: flex;
  height: 169px;
  left: 899px;
  min-width: 169px;
  position: absolute;
  top: 0;
}

.p4-dimensions-definition-1 .establishing-rapport-3 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1.57px none;
  border-radius: 84.75px;
  display: flex;
  height: 169px;
  justify-content: center;
  min-width: 169px;
}

.p4-dimensions-definition-1 .overlap-group-2 {
  border-radius: 88.52px;
  height: 177px;
  margin-top: -3.77px;
  position: relative;
  width: 177px;
}

.p4-dimensions-definition-1 .ing {
  height: 168px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 168px;
}

.p4-dimensions-definition-1 .ellipse-1 {
  border: 7.53px solid;
  border-color: var(--supernova);
  border-radius: 88.52px;
  height: 177px;
  left: 0;
  position: absolute;
  top: 0;
  width: 177px;
}

.p4-dimensions-definition-1 .understanding-others {
  align-items: flex-start;
  display: flex;
  height: 169px;
  margin-top: 44px;
  min-width: 1072px;
}

.p4-dimensions-definition-1 .overlap-group8 {
  height: 170px;
  margin-top: -1px;
  position: relative;
  width: 1068px;
}

.p4-dimensions-definition-1 .the-ability-to {
  left: 0;
  letter-spacing: 0;
  line-height: 23px;
  position: absolute;
  top: 56px;
  width: 850px;
}

.p4-dimensions-definition-1 .ing-1 {
  left: 0;
  letter-spacing: 0.48px;
  line-height: 32px;
  position: absolute;
  top: 0;
  width: 647px;
}

.p4-dimensions-definition-1 .overlap-group-1 {
  height: 169px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 1068px;
}

.p4-dimensions-definition-1 .bar-1 {
  background: linear-gradient(180deg, rgb(169.4, 234.81, 87.08) 0%, rgb(127.26, 184.88, 53.92) 100%);
  border: 1px none;
  height: 4px;
  left: 0;
  position: absolute;
  top: 42px;
  width: 946px;
}

.p4-dimensions-definition-1 .understanding-others-1 {
  align-items: flex-start;
  border: 0.6px none;
  display: flex;
  height: 169px;
  left: 899px;
  min-width: 169px;
  position: absolute;
  top: 0;
}

.p4-dimensions-definition-1 .understanding-others-2 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1.57px none;
  border-radius: 84.33px;
  display: flex;
  height: 169px;
  justify-content: center;
  min-width: 169px;
}

.p4-dimensions-definition-1 .overlap-group-3 {
  border-radius: 88.09px;
  height: 176px;
  margin-top: -3.76px;
  position: relative;
  width: 176px;
}

.p4-dimensions-definition-1 .ellipse-1-1 {
  border: 7.52px solid;
  border-color: var(--sushi);
  border-radius: 88.09px;
  height: 176px;
  left: 0;
  position: absolute;
  top: 0;
  width: 176px;
}

.p4-dimensions-definition-1 .embracing-individual-differences {
  align-items: flex-start;
  display: flex;
  height: 173px;
  margin-top: 43px;
  min-width: 1072px;
}

.p4-dimensions-definition-1 .overlap-group6 {
  height: 172px;
  position: relative;
  width: 1068px;
}

.p4-dimensions-definition-1 .the-ability-to-be-au {
  left: 0;
  letter-spacing: 0;
  line-height: 23px;
  position: absolute;
  top: 58px;
  width: 850px;
}

.p4-dimensions-definition-1 .embracing-individual-differences-1 {
  left: 0;
  letter-spacing: 0.48px;
  line-height: 32px;
  position: absolute;
  top: 1px;
  width: 647px;
}

.p4-dimensions-definition-1 .bar-2 {
  background: linear-gradient(180deg, rgb(103, 0, 173) 0%, rgb(167, 95, 211) 100%);
  border: 1px none;
  height: 4px;
  left: 0;
  position: absolute;
  top: 45px;
  width: 942px;
}

.p4-dimensions-definition-1 .establishing-differences {
  align-items: flex-start;
  border: 0.61px none;
  display: flex;
  height: 169px;
  left: 899px;
  min-width: 169px;
  position: absolute;
  top: 0;
}

.p4-dimensions-definition-1 .establishing-differences-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1.57px none;
  border-radius: 84.5px;
  display: flex;
  height: 169px;
  justify-content: center;
  min-width: 169px;
}

.p4-dimensions-definition-1 .overlap-group-4 {
  border-radius: 88.3px;
  height: 177px;
  margin-top: -3.8px;
  position: relative;
  width: 177px;
}

.p4-dimensions-definition-1 .embracing-individual-differences-1-1 {
  height: 120px;
  left: 35px;
  position: absolute;
  top: 28px;
  width: 107px;
}

.p4-dimensions-definition-1 .ellipse-3 {
  border: 7.6px solid;
  border-color: var(--purple);
  border-radius: 88.3px;
  height: 177px;
  left: 0;
  position: absolute;
  top: 0;
  width: 177px;
}

.p4-dimensions-definition-1 .developing-trust {
  align-items: flex-start;
  display: flex;
  margin-right: 0;
  margin-top: 43px;
  min-width: 1074px;
}

.p4-dimensions-definition-1 .overlap-group4 {
  height: 171px;
  margin-top: -1px;
  position: relative;
  width: 1070px;
}

.p4-dimensions-definition-1 .the-ability-to-be-vu {
  left: 1px;
  letter-spacing: 0;
  line-height: 23px;
  position: absolute;
  top: 56px;
  width: 850px;
}

.p4-dimensions-definition-1 .overlap-group3 {
  height: 169px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 1068px;
}

.p4-dimensions-definition-1 .bar-18 {
  background: linear-gradient(180deg, rgb(179.56, 200.78, 255) 0%, rgb(45, 99, 237) 100%);
  border: 1px none;
  height: 4px;
  left: 0;
  position: absolute;
  top: 42px;
  width: 942px;
}

.p4-dimensions-definition-1 .developing-trust-1 {
  align-items: flex-start;
  border: 0.6px none;
  display: flex;
  height: 169px;
  justify-content: flex-end;
  left: 899px;
  min-width: 169px;
  position: absolute;
  top: 0;
}

.p4-dimensions-definition-1 .developing-trust-2 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1.57px none;
  border-radius: 84.52px;
  display: flex;
  height: 169px;
  justify-content: flex-end;
  min-width: 169px;
}

.p4-dimensions-definition-1 .overlap-group-5 {
  border-radius: 88.26px;
  height: 177px;
  margin-top: -3.74px;
  position: relative;
  width: 177px;
}

.p4-dimensions-definition-1 .developing-trust-3 {
  height: 114px;
  left: 27px;
  position: absolute;
  top: 32px;
  width: 128px;
}

.p4-dimensions-definition-1 .ellipse-4 {
  border: 7.47px solid;
  border-color: var(--royal-blue);
  border-radius: 88.26px;
  height: 177px;
  left: 0;
  position: absolute;
  top: 0;
  width: 177px;
}

.p4-dimensions-definition-1 .cultivating-influence {
  align-items: flex-start;
  display: flex;
  height: 169px;
  margin-right: 0.01px;
  margin-top: 46px;
  min-width: 1072px;
}

.p4-dimensions-definition-1 .overlap-group2 {
  height: 170px;
  margin-top: -0.98px;
  position: relative;
  width: 1068px;
}

.p4-dimensions-definition-1 .bar-3 {
  background: linear-gradient(180deg, rgb(255, 183.08, 129.62) 0%, rgb(255, 142, 58) 100%);
  border: 1px none;
  height: 4px;
  left: 0;
  position: absolute;
  top: 42px;
  width: 948px;
}

.p4-dimensions-definition-1 .cultivating-influence-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1.57px none;
  border-radius: 84.51px;
  display: flex;
  height: 169px;
  justify-content: center;
  left: 899px;
  min-width: 169px;
  position: absolute;
  top: 0;
}

.p4-dimensions-definition-1 .overlap-group-6 {
  border-radius: 88.26px;
  height: 177px;
  margin-top: -3.75px;
  position: relative;
  width: 177px;
}

.p4-dimensions-definition-1 .cultivating-influence-1-1 {
  height: 162px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 162px;
}

.p4-dimensions-definition-1 .ellipse-5 {
  border: 7.49px solid;
  border-color: var(--neon-carrot);
  border-radius: 88.26px;
  height: 177px;
  left: 0;
  position: absolute;
  top: 0;
  width: 177px;
}

.p4-dimensions-definition-1 .footer {
  align-items: flex-start;
  align-self: center;
  border: 1px none;
  display: flex;
  margin-left: 1.0px;
  margin-top: 70px;
  min-width: 1070px;
}

.p4-dimensions-definition-1 .footer-1 {
  align-items: center;
  background-color: var(--mystic);
  border: 1px none;
  display: flex;
  height: 56px;
  min-width: 1070px;
  padding: 7.2px 21.0px;
}

.p4-dimensions-definition-1 .ba-logo_-red {
  align-self: flex-end;
  background-image: url(../img/balogo-red-1-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 0.41px none;
  height: 41px;
  width: 143px;
}

.p4-dimensions-definition-1 .line-1 {
  height: 34px;
  margin-left: 25px;
  margin-top: 2.0px;
  width: 1px;
}

.p4-dimensions-definition-1 .bandelli-relational-intelligence-test {
  letter-spacing: 0.30px;
  line-height: 20px;
  margin-left: 22px;
  margin-top: 4.0px;
  min-width: 271px;
  white-space: nowrap;
}

.p4-dimensions-definition-1 .x {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 523px;
  margin-top: 7.0px;
  min-height: 23px;
  text-align: right;
  white-space: nowrap;
  width: 32px;
}
